.ims-area-picker__tree-container {
  height: 50vh;
  overflow-y: auto;
}

.ims-area-picker__tree-header {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
  padding: 6px;
  width: 100%;
}
