.ims-single-user-selector__display-name {
  margin-right: 10px;
}

.ims-single-user-selector__select-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  width: 100%;
}

.ims-single-user-selector__select-container-input {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ims-single-user-selector__select-container-cancel {
  width: auto;
}