.ims-user-autosuggest-item__container {
  display: flex;
}

.ims-user-autosuggest-item__profile-image {
  align-self: center;
  width: 35px;
}

.ims-user-autosuggest-item__info-box {
  flex-grow: 1;
}

.ims-user-autosuggest-item__name {
  font-weight: 600;
}

.ims-user-autosuggest-item__position {
  color: #7a7a7a;
  font-size: 85%;
}